<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="ns" default="cpp" />
  <arg name="remap_to" default="remapped/message" />

  <!-- Example: run a node. -->
  <node pkg="catkin_template" type="cpp_publisher" name="cpp_publisher" output="screen" respawn="false"/>

  <!-- Example: topic name remapping. -->
  <node pkg="catkin_template" type="cpp_publisher" name="cpp_publisher_remapped" output="screen" respawn="false">
    <remap from="message" to="$(arg remap_to)"/>
  </node>

  <!-- Example: enclose a node into namespace. -->
  <node ns="$(arg ns)" pkg="catkin_template" type="cpp_publisher" name="cpp_publisher" output="screen" respawn="false"/>

</launch>